@import 'base';


.main_profile_div{
  float: left;
  border: 1px solid grey;
  background-color: $formcolor;
  padding: 20px;
  color: white;
  width: 85%;
  margin-right: 0px;
  .profile_picture_div{
    float: left;
    width: 50%;
    a{
      margin-left: 5%;
      font-size: 30px;
      font-weight: bolder;
      color: white;
      padding: 5%;
    }
    a:hover{
      opacity: 0.7;
    }
  }
  .user_info_div{
    width: 50%;
    margin-right: 0px;
    float: left;
    ul{
      li{
        margin: 7%;
        span{
          font-weight: bold;
        }
      }
    }
  }
  .profile_orders_div {
    float: left;
    width: 100%;
    ul {
      li {
        margin: 5%;
        font-weight: bolder;
      }
      hr{
        height: 2px;
        background: silver;
        width: 95%;
      }
    }
  }
}
#profile_picture  {
  display: block;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
  margin: 15%;
  margin-left: 25%;
}

#profile_picture_in_upload_div {
  display: block;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
  
  
}

.upload_profile_pic_div {
  text-align: center;
  position: absolute;
  display: none;
  width: 50%;
  height: 50%;
  border-radius: 16px;
  top: 10%;
  left: 25%;
  background-color: rgba(245, 245, 245, 1);
  #upload_label {
    display: block; 
    margin-right: auto;
    img {
      margin: auto;
      margin-top: 10%;
    }
    text-align: center; 
    padding: 20px;
    width: 50%;
    margin-left: 80px;
    margin: auto;
    h6 {
      &:hover {
        text-decoration: underline black 3px;
      }
    }
  }
}
.close {
  background-color: whitesmoke;
  outline: none;
  border: none;
  margin: 20px;
}